<div class="search">
    <h1 class="display-3" id="title"></h1>
    <hr class="my-4">

    <div class="form-group">
        <div style="width:70%; display:inline-block">
            <input class="form-control form-control-lg" style="font-size:24px" [(ngModel)]="search_value" name="search_value" type="text" placeholder="Please enter name of product" >
        </div>
        <div style="width:20%;display:inline-block;margin-left:40px">
            <button type="button" class="btn btn-primary btn-lg" style="display:inline-block; font-size:28px" (click)="search()">Search</button>
        </div>
    </div>

    <div class="form-group" style="margin-top:40px">
        <label class="custom-control custom-radio">
            <input id="radio1" name="radio" (click)="sortByName()" type="radio" class="custom-control-input"> 
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description" style="font-size:24px"><b>Sort by Name</b></span>
        </label>
        <label class="custom-control custom-radio">
            <input id="radio2" name="radio" (click)="sortByRating()" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description" style="font-size:24px"><b>Sort by Rating</b></span>
        </label>
        <label class="custom-control custom-radio">
            <input id="radio3" name="radio" (click)="sortByPrice()" type="radio" class="custom-control-input" >
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description" style="font-size:24px"><b>Sort by Price</b></span>
        </label>
    </div>

    <div id="all_products">
        <div *ngFor="let product of products; let i=index" class="product_box">
            <form>
                <div class="img">
                    <img src={{product.img}} height="200px" width="200px">
                </div>
                <div class="product_info">
                    <label class="product_label">Name:</label><input type="text" class="product_input" value="{{product.name}}" id="product_name_{{i}}" readonly><br>
                    <label class="product_label">Rating:</label><input type="text" class="product_input" value="{{product.rating}}" readonly><br>
                    <label class="product_label">Price: $</label><input type="text" class="product_input" style="margin-left:10px" value="{{product.price}}" id="product_price_{{i}}" readonly>
                </div>
                <div class="product_choose">
                    <input type="checkbox"  class="product_checkbox" id="product_check_{{i}}"><label class="product_label">Selected</label><br><br>
                    <input type="button" (click)="addItem(product)" class="btn btn-primary btn-lg" value="Add item">
                </div>
            </form>
        </div>
    </div> 

</div>

<div class="cart">
    <div class="box">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <i class="fa fa-shopping-cart" style="font-size:48px;color:white"></i>
            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" (click)="create()" style="font-size:36px;margin-left:50px">Create</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" (click)="view()" style="font-size:36px;margin-left:5px">View</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" (click)="edit()" style="font-size:36px;margin-left:5px">Edit</a>
                </li>
            </ul>
            </div>
        </nav>
        <router-outlet></router-outlet>
        <div class="buy" id="buyPart">
            <span class="total">Total: ${{total}}</span>
            <button type="button" (click)="buy()" class="btn btn-success" style="margin-left:320px;width:300px;font-size:48px" id="buyBtn">B U Y</button>  
        </div>
    </div>
    <button type="button" (click)="back()" class="btn btn-primary" style="float:left; margin-left:150px; margin-top:50px; font-size:36px" >Back to Search</button>
    <button type="button" (click)="logout()" class="btn btn-danger" style="float:right; margin-right:100px; margin-top:50px ;font-size:36px" >Logout My Account</button>
</div>